BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
PointerAlignment: Left
UseTab: Never

BreakAfterReturnType: None
BreakFunctionDefinitionParameters: true
PenaltyBreakBeforeFirstCallParameter: 0
BinPackArguments: false

AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: AlwaysOnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
