build/
node_modules/
.DS_Store
.lock-waf_darwin_build
.clangd
.continue/
compile_commands.json
compile_flags.txt
.prompts/
resources/images/backup-images/
src/c/scratch.txt
.vscode/
.clang-format
.prompts
archive/DINPro-CondensedMedium.ttf
archive/RoundWatchfacePlan.md
archive/dinpro_condensedmedium.otf
previous_icons/
resources/fonts/DINPro*
package-lock.json
docs/archive/
